In [ ]:
# Function: Reusable block of code to perform a certain tasks

# Syntax
# Declaring a function
# def function_name():
#     code
#     code
    
# calling a function
# function_name()

# Function without parameters

# Function declaration

In [12]:
def full_name():
    f_name = "Vishal"
    l_name = "Kumar"
    space = ' '
    full_name = f_name + space + l_name
    print("Fullname :: ", full_name)

In [14]:
# Calling the functions

type(full_name())

Fullname ::  Vishal Kumar

NoneType

In [4]:
def add_two_numbers():
    num1 = 5
    num2 = 6
    sum_of_nums = num1 + num2 
    print(sum_of_nums)
    
add_two_numbers()

11

In [5]:
a = 5
b = 5

num1 = num2 = 5

In [6]:
full_name()

Fullname ::  Vishal Kumar

# Functions returning a value

In [19]:
def full_name():
    f_name = "Vishal"
    l_name = "Kumar"
    space = ' '
    full_name = f_name + space + l_name
    return full_name

In [20]:
full_name()

'Vishal Kumar'

In [24]:
full_name_of_student = full_name()
print(f"Full name : {full_name_of_student}")

Full name : Vishal Kumar

In [26]:
def add_numbers():
    num1 = 7
    num2 = 8
    return num1 + num2

print(f"sum of numbers : {add_numbers()}")

sum of numbers : 15

# Functions with parameters

In [28]:
# syntax
# Declaring a function
# def function_name(parameter):
#     codes
#     codes
# Calling function
# print(function_name(argument))

In [30]:
def greetings(name):
    message = f"Hello {name}"
    return message

greetings("Alex")

'Hello Alex'

In [31]:
def add_20(num):
    return num + 20

add_20(10)

30

In [33]:
def area_of_circle(r):
    PI = 3.14
    area = PI * r ** 2
    return area

area_of_circle(10)

314.0

In [34]:
def get_full_name(f_name, l_name):
    return f"Fullname :: {f_name} {l_name}"

get_full_name("Leo", "cap")

'Fullname :: Leo cap'

In [35]:
def get_age(birth_year, current_year):
    return current_year - birth_year

get_age(1992, 2022)

30

In [39]:
get_age(2022,1992)

-30

In [41]:
get_age(current_year=2022, birth_year=1992) # The order of arguments does not matter when passing in key value pair

30

In [40]:
get_full_name(f_name="Will", l_name="smith")

'Fullname :: Will smith'

In [42]:
def check_num_even(num):
    if num % 2 == 0:
        return True
    return False

check_num_even(5)

False

In [45]:
if check_num_even(7):
    print("the number is even")
else:
    print("the number is odd")

the number is odd

In [46]:
def get_age(birth_year, current_year=2022):
    return current_year - birth_year

In [47]:
get_age(1995)

27

In [48]:
get_age(1995, 2000)

5

# Arbitrary number of arguments
*args, **kwargs

In [57]:
# Find the sum of all the parameters being passed in method

# def print_student_names(*args):
# #     print(args)
#     for student in args:
#         print("Name : ", student)
    
# print_student_names("Alex", "Kate", "Leo")


def print_student_names(*args):
#     print(args)
    for i in range(len(args)):
        print(f"Student {i+1} : ", args[i])
    
print_student_names("Alex", "Kate", "Leo")


def calc_sum(*args):
    sum_of_args = 0
    for arg in args:
        sum_of_args += arg
    return sum_of_args

# calc_sum(1,2,4,2)

Student 1 :  Alex
Student 2 :  Kate
Student 3 :  Leo

In [58]:
def print_full_name(**kwargs):
    fullname = kwargs.get("f_name") + " " + kwargs.get("l_name")
    return fullname

print_full_name(f_name="Vishal", l_name="kumar")

'Vishal kumar'

In [61]:
# Q1 -> Print the full name of students from a data structure containing students info

students = [
    {
        "f_name": "alex",
        "l_name": "hill",
        "roll_num": 45,
        "grade": "A"
    },
    {
        "f_name": "Kate",
        "l_name": "Winslet",
        "roll_num": 46,
        "grade": "B"
    },
    {
        "f_name": "Leo",
        "l_name": "Cap",
        "roll_num": 47,
        "grade": "B"
    }
]

In [62]:
len(students)

3

In [63]:
for student in students:
    print(f'{student["f_name"]} {student["l_name"]}')

alex hill
Kate Winslet
Leo Cap

In [64]:
def student_full_name(f_name, l_name):
    return f'{student["f_name"]} {student["l_name"]}'

In [66]:
for student in students:
    print(student_full_name(student["f_name"], student["l_name"]))

alex hill
Kate Winslet
Leo Cap