In [1]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [2]:
even_numbers = []
for i in range(10):
    if i % 2 == 0:
        even_numbers.append(i)

In [3]:
even_numbers

[0, 2, 4, 6, 8]

In [4]:
even_num = [ i for i in range(10) if i % 2 == 0]
even_num

[0, 2, 4, 6, 8]

In [5]:
name = "Kate Winslet"
type(name)

str

In [6]:
list_name = list(name)
list_name

['K', 'a', 't', 'e', ' ', 'W', 'i', 'n', 's', 'l', 'e', 't']

In [7]:
# WAP to find the square of numbers from 0 to 10 and add in the list

In [8]:
square = []
for i in range(10):
    square.append(i*i)
    
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
square_nums = [ i * i for i in range(10)]
square_nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Lambda function
A small anonymous function without a name. It can take any number of arguments but can have only one expression.

Syntax:
x = lambda param1, param2: param1 + param2
print((x(arg1, arg2))

In [10]:
def add_2_nums(num1, num2):
    return num1 + num2

In [11]:
add_2_nums(5, 7)

12

In [12]:
x = lambda num1, num2: num1 + num2

In [13]:
x(2,3)

5

In [14]:
def full_name(f_name, l_name):
    return f"{f_name} {l_name}"

In [15]:
full_name("Will", "Ferrel")

'Will Ferrel'

In [16]:
fn = lambda f_name, l_name: f"{f_name} {l_name}"

In [17]:
fn("Mark", "Whalberg")

'Mark Whalberg'

In [18]:
# Filter only negative and zero in the list using list comprehension
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

negative_numbers = [ i for i in numbers if i <= 0 ]
negative_numbers

[-4, -3, -2, -1, 0]

In [ ]:
# Nested For Loop
# Nested for loop using list comprehension