In [ ]:
## Loops --> To handle repetitive tasks
'''
    Loops:
        1. While
            #Syntax:
                while condition:
                    write your code
        
        2. For
            #Syntax:
                for iterator in <list/tuple/dict/set/string>:
                    write your code
'''

In [ ]:
count = 0
while count < 5:
    print("Count is less than 5 ", count)
    count = count + 1 # checkpoint to make the condition false

In [ ]:
count = 0
while count < 5:
    print("Count is less than 5 ", count)
    count += 1

'''
while condition:
    write your code
else:
    write your code
'''

In [ ]:
count = 0
while count < 5:
    print("Count is less than 5 ", count)
    count += 1
else:
    print("Count is greater than 5 ", count)

In [ ]:
'''
Break

while condition:
    write your code
    if another_condition:
        break


Continue --> Skip the current iteration and continue with the next

while condition:
    write your code
    if another_condition:
        continue

'''

In [ ]:
count = 0
while count < 5:
    print("Count is less than 5 ", count)
    count += 1
    if count == 3:
        break

In [5]:
count = 0
while count < 5:
#     print(count)
    count += 1
    if count == 2:
        continue
    print("Count is less than 5 ", count)

Count is less than 5  1
Count is less than 5  3
Count is less than 5  4
Count is less than 5  5

In [ ]:
'''
FOR LOOP
'''

In [6]:
my_list = [1, 4, 5, "hello", "there", 100]

for element in my_list:
    print(element)

1
4
5
hello
there
100

In [7]:
my_string = "Python"

for char in my_string:
    print(char)

P
y
t
h
o
n

In [9]:
numbers = (0, 1, 2, 3, 4, 5)

for num in numbers:
    print(num)

0
1
2
3
4
5

In [10]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}

In [11]:
for key in person:
    print(key)

first_name
last_name
age
country
is_marred
skills
address

In [12]:
for key, value in person.items():
    print(key, value)

first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [13]:
## TO DO :: Break and Continue in For loop

In [14]:
## Range Functions

# range(start, end, stop)

lst = list(range(11))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
range(11)

range(0, 11)

In [17]:
for index in range(len(my_list)):
    print("INdex :: ", index)
    print(my_list[index])

INdex ::  0
1
INdex ::  1
4
INdex ::  2
5
INdex ::  3
hello
INdex ::  4
there
INdex ::  5
100

In [ ]:
## TO DO:  For else